.App {
  height:100vh;
  width:100vw;
  text-align: center;
}
.buttons{
  display:flex;
  justify-content: center;
  height:50%;
  width:100%;

}
.storebtn{
  height:50px;
  width:100px;
  border-radius:50% 10% 10% 50%;
  outline:none;
}
.cartbtn{
  height:50px;
  width:100px;
  border-radius:10% 50% 50% 10%;
  outline:none;
}
.main{
  display:flex;
  flex-direction: column;
}
.everyting{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items:center;
  margin:auto;
}
.productButtons{
  width:100%;
}
.items{
  width:30%;
}
.productContainer{
  width:30%;
}